.navWrap {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.navbar {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: rgb(140, 145, 143);
  text-align: center;
  line-height: 60px;
  text-decoration: none;
  color: white;
}

.navbar:hover {
  background-color: black;
}
