.PhotoSection {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.figWrap {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.PhotoTitle {
  text-align: center;
  width: 80%;
}

.changeBtn {
  width: 40%;
  height: 60px;
  border-radius: 10px;
  background-color: rgba(112, 223, 189, 0.877);
  text-align: center;
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-size: medium;
  font-weight: 600;
}

.changeBtn:hover {
  background-color: black;
  color: white;
}
