.navWrap {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.navbar {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: 1px solid gray;
  text-align: center;
  line-height: 60px;
  text-decoration-line: none;
}
