.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 45%;
  justify-content: space-between;
}

.loginWrap {
  width: 90%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.loginBtn {
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
