.moveLogIn {
  text-decoration: none;
  color: black;
}

.moveLogInBox {
  display: flex;
  height: 90%;
  width: 20%;
  font-size: 25px;
  font-weight: 600;
  justify-content: right;
  align-items: center;
  padding-right: 10px;
}

.moveLogInBox:hover {
  cursor: pointer;
}

.logOutBox {
  display: flex;
  height: 90%;
  width: 20%;
  font-size: 25px;
  font-weight: 600;
  justify-content: right;
  align-items: center;
  padding-right: 10px;
}

.logOutBox:hover {
  cursor: pointer;
}
